@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css);.row {
  margin-top: 25px;
}

.card-columns {
  -webkit-column-count: 4;
          column-count: 4;
}

.display-2 {
  font-size: 4.5rem;
}

@media only screen and (max-width: 990px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
  }

  .display-2 {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
            column-count: 2;
  }

  .display-2 {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .card-columns {
    -webkit-column-count: 1;
            column-count: 1;
  }

  .display-2 {
    font-size: 2rem;
  }
}

