
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');

.row { margin-top:25px; }


.card-columns {
    column-count: 4;
}

@media only screen and (max-width: 990px) {
    .card-columns {
        column-count: 3;
    }
}

@media only screen and (max-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .card-columns {
        column-count: 1;
    }
}



